//body {
//  background-color: #DADADA;
//}
body > .grid {
  height: 100%;
}
.image {
  margin-top: -100px;
}
.column {
  max-width: 450px;
}

.form {
  .error.field {
    i {
      color: #9f3a38;
    }
  }
}